/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variable CSS */

:root {
  --background-main-color: #1e1f24;
  --background-section-color: #2e2e37;
  --button-main-color: #c8e6e8;
}

/* Base */

* {
  box-sizing: border-box;;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
  background-color: var(--background-main-color);
}

nav {
  margin: 32px 32px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 32px 32px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 32px;
  background-color: var(--background-main-color);
  max-height: min-content;
}

/* Shared Classes */

.section {
  background-color: var(--background-section-color);
  padding: 32px 24px;
  border-radius: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-section-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  display: flex;
  color: var(--background-main-color);
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: 500;
  content: "C°";
  height: 26px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: var(--button-main-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::after {
  color: var(--button-main-color);
  font-weight: 400;
  margin-left: 14px;
  content: "F°";
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--background-section-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-section-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  transition: .4s;
  -webkit-transition: .4s;
  color: var(--button-main-color);
  content: "";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}


/* Classes */

.profile {
  display: flex;
  align-items: center;
}

.profile-user {

}

.profile-date {
  font-size: 24px;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 0 16px;
  justify-content: space-between;
}

.searchBox {
  border-radius: 34px;
  color: var(--button-main-color);
  background-color: var(--background-section-color);
}

.searchBox {
  border-radius: 30px;
  border-style: none;
  padding: 9px;
}

.language-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-main-color);
  height: 34px;
  width: 76px;
  border-radius: 34px;
  background-color: var(--background-section-color);
}

.current-location {
  width: 100%;
  margin-top: 32px;
  
}

.hourly-forecast {
  width: 100%;
  margin-top: 32px;
  
}

.ten-day-forecast {
  width: 100%;
  margin-top: 32px;
  
}

.ten-day-forecast-item {
  display: flex;
  flex-direction: row;
}